<style>
    .selected-val {
        margin-right: .1rem;
    }
</style>
<ul class="bui-list">
    <li class="bui-btn bui-box clearactive">
        <div class="bui-label">选择地区</div>
        <div class="span1">
        </div>
        <div class="value">
            <div class="bui-box">
                <div class="selected-val"></div>
                <div class="selected-val"></div>
                <div class="selected-val"></div>
            </div>
        </div>
        <i class="icon-listright"></i>
    </li>
</ul>