<style>
    .page-chat main {
        background: #F4F5F7;
    }
    
    .chat-panel {
        padding: 0 .2rem;
        border-top: 0;
        background: #F4F5F7;
    }
    
    .chat-panel .time {
        margin: .2rem 0;
        padding: 0 .2rem;
        height: .4rem;
        border-radius: .2rem;
        background: #d8d8d8;
        color: #fff;
        font-size: .18rem;
    }
    
    .chat-panel .chat-icon {
        width: .6rem;
        height: .6rem;
    }
    
    .chat-panel .bui-box-align-top {
        margin-bottom: .2rem;
    }
    
    .chat-panel .chat-content {
        display: inline-block;
        background: #fff;
        -webkit-border-radius: .05rem;
        border-radius: .05rem;
        position: relative;
        padding: .15rem;
    }
    
    .chat-panel .chat-target .chat-content {
        margin-right: .8rem;
        margin-left: .2rem;
    }
    
    .chat-panel .chat-target .chat-content.bui-arrow-left:before {
        border: none;
    }
    
    .chat-panel .chat-target .chat-content.bui-arrow-left:before,
    .chat-panel .chat-target .chat-content.bui-arrow-left:after {
        top: .1rem;
        margin-top: 0;
    }
    
    .chat-panel .chat-mine .chat-content {
        margin-left: .8rem;
        margin-right: .2rem;
        background: #B3EAFF;
    }
    
    .chat-panel .chat-mine .chat-content.bui-arrow-right:before,
    .chat-panel .chat-mine .chat-content.bui-arrow-right:after {
        top: .1rem;
        margin-top: 0;
        border-left-color: #B3EAFF;
    }
    
    .chat-panel .chat-mine .chat-content.bui-arrow-right:before {
        border: none;
    }
    
    .chat-panel .chat-icon {
        width: .8rem;
        height: .8rem;
    }
    
    .chat-panel .chat-icon img {
        width: 100%;
    }
</style>
<div class="bui-scroll chatlist fullheight">
    <div class="bui-scroll-head"></div>
    <div class="bui-scroll-main">
        <div class="bui-panel chat-panel"></div>
    </div>
</div>